@import 'bootstrap/dist/css/bootstrap.min.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

a{
  color: black;
  text-decoration: none;
}

nav.main-navbar {
  border: 1px solid red;
  width: 100%;
  max-width: 200px;
  overflow: hidden;
  transition: max-width 0.5s ease-in-out;
}

nav.main-navbar.sm{
  max-width: 200px;
}
nav.main-navbar.md{
  max-width: 400px;
}
nav.main-navbar.lg{
  max-width: 600px;
}

#diveIntoSection{
  overflow: hidden;
}

.wrapper-card{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  padding-bottom: 1rem;
}

.fit-card-img{
  aspect-ratio: 1.27;
  object-fit: cover;
  height: auto;
}

/* // swiper js css */
.swiper-wrapper{
  transition-timing-function: linear !important;
}

.cardSwiper .slider{
  width: 100%;
}

.cardSwiper .swiper-slide {
  width: auto;
  max-width: 80vw;
}

.rfm-initial-child-container, .rfm-marquee{
  /* min-width: 100%; */
  /* justify-content: space-around; */
  gap: 4rem;
  width: max-content;
}

.rfm-marquee{
  padding-right: 4rem;
}

.strip-title{
  color: white;
  font-size: 8rem;
  font-weight: 700;
  margin-bottom: 0;
}

.strip-text{
  color: white;
  font-size: 1.5rem;
  margin-bottom: 0;
}

#diveIntoSlider {
  background-color: white;
  .strip-title, .strip-text{
    color: black;
  }
}

@media (max-width  : 767px) {
  .strip-title{
    font-size: 4rem;
  }

  
  .strip-text{
    font-size: 1rem;
  }

  .rfm-initial-child-container, .rfm-marquee{
    gap: 2rem;
  }

  .rfm-marquee{
    padding-right: 2rem;
  }
}