@import 'bootstrap/dist/css/bootstrap.min.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

nav.main-navbar {
  border: 1px solid red;
  width: 100%;
  max-width: 200px;
  overflow: hidden;
  transition: max-width 0.5s ease-in-out;
}

nav.main-navbar.sm{
  max-width: 200px;
}
nav.main-navbar.md{
  max-width: 400px;
}
nav.main-navbar.lg{
  max-width: 600px;
}


/* // swiper js css */
.swiper-wrapper{
  transition-timing-function: linear !important;
}

.cardSwiper .slider{
  width: 100%;
}

.cardSwiper .swiper-slide {
  width: auto;
  max-width: 80vw;
}

#top-slider{
  font-size: 16px;
}

#top-slider .rfm-initial-child-container, .rfm-marquee{
  min-width: 100%;
  justify-content: space-around;
  gap: 4rem;
}

#top-slider .strip-title{
  color: white;
  font-size: 8rem;
  font-weight: 700;
  margin-bottom: 0;
}

#top-slider .strip-text{
  color: white;
  font-size: 1.5rem;
  margin-bottom: 0;
}

@media (max-width  : 767px) {
  #top-slider .strip-title{
    font-size: 4rem;
  }

  
  #top-slider .strip-text{
    font-size: 1rem;
  }

  #top-slider .rfm-initial-child-container, .rfm-marquee{
    gap: 2rem;
  }
}