/* .sliderContainer {
    display: flex;
    height: 50vh;
} */

.cardSliderSection{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: url('/IMG_8423.png') no-repeat center;
    background-size: cover;
    min-height: 150vh;
}

.sectionImg{
    width: 100%;
    height: auto;
}